$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */



@mixin rounded-corner($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;

}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body{
  height: 100%;
}

// Component styles are injected through grunt
// injector
@import 'Allevents/Allevents.scss';
@import 'admin/admin.scss';
@import 'events/events.scss';
@import 'main/main.scss';
@import 'participants/participants.scss';
@import 'register/register.scss';
@import 'success/success.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
