<div class="container">
<h3 style="text-align: center;">ECOPHORIA 2016 REGISTRATION FORM</h3>
<h3><small style="text-align: center">Fields marked with * are required</small></h3>
<div style="height:50px"></div>

<form class="container participant-form" name="participantForm" ng-submit="submitInfo(participant)">


<!--name input field begin-->
<div class="row input-field row">
    <label for="name">Full Name *</label>

    <div class="row">
        <input class="col-lg-4 col-md-6 col-sm-6 col-xs-10" type="text" name="name" id="name"
               placeholder="enter full name"
               ng-model="participant.name"
               ng-minlength="3"
               ng-maxlength="30" required/>
    </div>

    <!--error handling for name-->
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.name.$touched">
            <div class="handle-error" ng-show="participantForm.name.$error.required">Your name is required</div>
            <div class="handle-error" ng-show="participantForm.name.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.name.$error.maxlength">Enter a valid name</div>
        </div>
    </div>
</div>
<!--name input field ends-->

<!--age input field begin-->
<div class=" row input-field">
    <label for="age">Age*</label>

    <div class="row">
        <input id="age" class="col-lg-4 col-md-6 col-sm-6 col-xs-10" type="number" name="age" placeholder="enter age"
               ng-model="participant.age"
               required/>
    </div>
    <!--error handling for email-->
    <div class="row">
        <div class="col-lg-4" ng-show="participantForm.$submitted || participantForm.age.$touched">
            <div class="handle-error" ng-show="participantForm.age.$error.required">Your age is required</div>
        </div>
    </div>
</div>
<!--age input field ends-->

<!--email input field begin-->
<div class="row input-field">
    <label for="email">Email *</label>

    <div class="row">
        <input id="email" class="col-lg-4 col-md-6 col-sm-6 col-xs-10" type="email" name="email"
               placeholder="enter email"
               ng-model="participant.email"
               required/>
    </div>
    <!--error handling for email-->
    <div class="row">
        <div class="col-lg-4" ng-show="participantForm.$submitted || participantForm.email.$touched">
            <div class="handle-error" ng-show="participantForm.email.$error.required">Your email is required</div>
        </div>
    </div>
</div>
<!--email input field ends-->

<!--phone input field begin-->
<div class="row input-field">
    <label for="phone">Phone *</label>

    <div class="row">
        <input id="phone" class="col-lg-4 col-md-6 col-sm-6 col-xs-10" type="text" name="phone"
               placeholder="enter phone"
               ng-model="participant.phone"
               required/>
    </div>
    <!--error handling for phone-->
    <div class="row">
        <div class="col-lg-4" ng-show="participantForm.$submitted || participantForm.phone.$touched">
            <div class="handle-error" ng-show="participantForm.phone.$error.required">Your phone is required</div>
        </div>
    </div>
</div>
<!--phone input field ends-->


<!--college-name input field begins-->
<div class="row input-field">
    <label for="college">College *</label>

    <div class="row">
        <input id="college" class="col-lg-2 col-md-6 col-sm-6 col-xs-10" type="text" name="college"
               placeholder="enter college"
               ng-model="participant.college"
               ng-minlength="2"
               ng-maxlength="30"
               required/>
    </div>
    <!--error handling for college-->
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.college.$touched">
            <div class="handle-error" ng-show="participantForm.college.$error.required">Your college is required</div>
            <div class="handle-error" ng-show="participantForm.college.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.college.$error.maxlength">Enter a valid name</div>
        </div>
    </div>
</div>
<!--college name input field ends-->

<!--course input field begins-->
<div class="row input-field">
    <label for="course">Course *</label>

    <div class="row">
        <input id="course" class="col-lg-2 col-md-6 col-sm-6 col-xs-10" type="text" name="course"
               placeholder="enter course"
               ng-model="participant.course"
               ng-minlength="2"
               ng-maxlength="30"
               required/>
    </div>
    <!--error handling for age-->
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.course.$touched">
            <div class="handle-error" ng-show="participantForm.course.$error.required">Your course is required</div>
            <div class="handle-error" ng-show="participantForm.course.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.course.$error.maxlength">Enter a valid name</div>
        </div>
    </div>
</div>
<!--course input field ends-->

<!--academic-year list begins-->
<div class="row input-field">
    <div class="row">
        <select class="col-lg-4 col-md-6 col-sm-6 col-xs-10" name="year" ng-model="participant.academic_year"
                required="true">
            <option value="">Please select your year of study</option>
            <option value="1">1st</option>
            <option value="2">2nd</option>
            <option value="3">3rd</option>
            <option value="4">4th</option>
            <option value="5">5th</option>
        </select>
    </div>

    <!--error handling for academic-year-->
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.year.touched">
            <div class="handle-error" ng-show="participantForm.year.$error.required"> year of study is needed</div>
        </div>
    </div>
</div>
<!--academic-year list ends-->


<!--event-names list begin-->
<div class="row input-field">
    <div class="row">
        <select class="col-lg-4 col-md-6 col-sm-6 col-xs-10" name="events" ng-model="event.name"
                ng-change="eventSelected()" required="true">
            <option value="">Please select event</option>
            <option value="Startup Challenge">Startup Challenge</option>
            <option value="The credible">The credible</option>
            <option value="Monopoly">Monopoly</option>
            <option value="Quiz pro Quo">Quiz pro quo</option>
            <option value="Connectonomics">Connectonomics</option>
            <option value="Clued Inn ">Clued Inn</option>
            <option value="Posterize">Posterize</option>
            <option value="Minute to win it">Minute to win it</option>
           
        </select>
    </div>
    <!--error handling for events-->
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.events.touched">
            <div class="handle-error" ng-show="participantForm.events.$error.required"> an event is needed</div>
        </div>
    </div>
</div>
<!--events list ends-->

<div ng-show="show2" class="row input-field">
    <label for="teamshow2">Team members *</label>

    <div class="row">
        <input id="teamshow2" class="col-lg-4 col-md-6 col-sm-6 col-xs-10" type="text" name="mem1"
               placeholder="enter team member 1 name"

               ng-model="event.team[0]"
               ng-minlength="2"
               ng-maxlength="30"
               ng-required="show2"/>
    </div>

    <!--error handling for team-->
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.mem1.$touched">
            <div class="handle-error" ng-show="participantForm.mem1.$error.required">A team member is required</div>
            <div class="handle-error" ng-show="participantForm.mem1.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.mem1.$error.maxlength">Enter a valid name</div>
        </div>
    </div>
</div>

<div ng-show="show3" class="row input-field">
    <label for="teamshow3">Team members *</label>

    <div class="row">
        <input id="teamshow3" style="margin-bottom: 10px;" class="col-lg-4" type="text" name="show3mem1"
               placeholder=" team member 1"

               ng-model="event.team[0]"
               ng-minlength="2"
               ng-maxlength="30"
               ng-required="show3"/>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.show3mem1.$touched">
            <div class="handle-error" ng-show="participantForm.show3mem1.$error.required">Team members are required
            </div>
            <div class="handle-error" ng-show="participantForm.show3mem1.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.show3mem1.$error.maxlength">Enter a valid name</div>
        </div>
    </div>
    <div class="row">
        <input class="col-lg-4 col-md-6 col-sm-6 col-xs-10" style="margin-bottom: 10px;" type="text" name="show3mem2"
               placeholder="Team member 2"
               ng-model="event.team[1]"
               ng-minlength="2"
               ng-maxlength="30"
               ng-required="show3"/>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10" style="margin-bottom: 10px;"
             ng-show="participantForm.$submitted || participantForm.show3mem2.$touched">
            <div class="handle-error" ng-show="participantForm.show3mem2.$error.required">Team members are required
            </div>
            <div class="handle-error" ng-show="participantForm.show3mem2.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.show3mem2.$error.maxlength">Enter a valid name</div>
        </div>
    </div>


</div>


<div ng-show="show4">
    <label for="teamshow4">Team members *</label>

    <div class="row">
        <input id="teamshow4" style="margin-bottom: 10px;" class="col-lg-4" type="text" name="mem1show4"
               placeholder="team member 1"
               ng-model="event.team[0]"
               ng-minlength="2"
               ng-maxlength="30"
               ng-required="show4"/>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10" style="margin-bottom: 10px;"
             ng-show="participantForm.$submitted || participantForm.mem1show4.$touched">
            <div class="handle-error" ng-show="participantForm.mem1show4.$error.required">Atleast 2 members are
                required
            </div>
            <div class="handle-error" ng-show="participantForm.mem1show4.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.mem1show4.$error.maxlength">Enter a valid name</div>
        </div>
    </div>
    <div class="row">
        <input class="col-lg-4 col-md-6 col-sm-6 col-xs-10" style="margin-bottom: 10px;" type="text" name="mem2show4"
               placeholder="team member 2"
               ng-model="event.team[1]"
               ng-minlength="2"
               ng-maxlength="30"
               ng-required="show4"/>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.mem1show4.$touched">
            <div class="handle-error" ng-show="participantForm.mem2show4.$error.required">Atleast two members are
                required
            </div>
            <div class="handle-error" ng-show="participantForm.mem2show4.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.mem2show4.$error.maxlength">Enter a valid name</div>
        </div>
    </div>
    <div class="row">
        <input class="col-lg-4 col-md-6 col-sm-6 col-xs-10" style="margin-bottom: 10px;" type="text" name="mem3show4"
               placeholder="team member 3"
               ng-model="event.team[2]"
               ng-minlength="2"
               ng-maxlength="30"
                />

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10"
             ng-show="participantForm.$submitted || participantForm.mem1show4.$touched">
            <div class="handle-error" ng-show="participantForm.mem3show4.$error.minlength">Enter a valid name</div>
            <div class="handle-error" ng-show="participantForm.mem3show4.$error.maxlength">Enter a valid name</div>
        </div>
    </div>


    <!--error handling for age-->

</div>

<h4 style="color: brown" ng-show="registeredAlready">A registration of this event with this email ID already exists.
    Please select another event </h4>


<!--input options for participants begins-->
<div style="text-align: center;">
    <button type="submit" class="submit-button" ng-disabled="participantForm.name.$error.required ||
                                        participantForm.name.$error.minlength ||
                                        participantForm.name.$error.maxlength ||
                                        participantForm.age.$error.required ||
                                        participantForm.age.$error.minlength||
                                        participantForm.age.$error.maxlength ||
                                        participantForm.email.$error.required ||
                                        participantForm.phone.$error.required ||
                                        participantForm.phone.$error.minlength||
                                        participantForm.phone.$error.maxlength ||
                                        participantForm.college.$error.required ||
                                        participantForm.college.$error.minlength ||
                                        participantForm.college.$error.maxlength ||
                                        participantForm.course.$error.required ||
                                        participantForm.course.$error.minlength ||
                                        participantForm.course.$error.maxlength ||
                                        participantForm.year.$error.required ||
                                        participantForm.events.$error.required ||
                                        participantForm.mem3show4.$error.minlength||
                                        participantForm.mem3show4.$error.maxlength||
                                        participantForm.mem2show4.$error.maxlength||
                                        participantForm.mem2show4.$error.minlength||
                                        participantForm.mem2show4.$error.required||
                                        participantForm.mem1show4.$error.required">
        Submit
    </button>
</div>

<div style="height: 50px;"></div>

</form>
</div>