.thing-form {
  margin: 20px 0;
}



.landing {

  background-color: transparent;
}

.college-name {
  text-align: center;
  z-index: 100;
}

.register-button {

  border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;
  border: 0px solid #266491;
  -webkit-box-shadow: 0px 4px 0px 0px #20577D;
  -moz-box-shadow: 0px 4px 0px 0px #20577D;
  box-shadow: 0px 4px 0px 0px #20577D;
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  background: rgba(43, 114, 161, 1);
  background: -moz-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgb(38, 100, 145) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43, 114, 161, 1)), color-stop(48%, rgba(43, 114, 161, 1)), color-stop(49%, rgba(38, 100, 145, 1)), color-stop(100%, rgba(38, 100, 145, 1)));
  background: -webkit-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  background: -o-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  background: -ms-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  background: linear-gradient(to bottom, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b72a1', endColorstr='#266491', GradientType=0);
  height: 50px;
  outline: none;
  transition: 1s;
}

.register-button:hover {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.event-button {
  border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;
  border: 0px solid #9AB0BC;
  -webkit-box-shadow: 0px 4px 0px 0px #9AB0BC;
  -moz-box-shadow: 0px 4px 0px 0px #9AB0BC;
  box-shadow: 0px 4px 0px 0px #9AB0BC;
  font-weight: normal;
  font-size: 20px;
  color: #2D709D;
  outline: none;
  height: 50px;
  background: rgba(200, 226, 242, 1);
  background: -moz-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(200, 226, 242, 1)), color-stop(48%, rgba(200, 226, 242, 1)), color-stop(49%, rgba(185, 211, 226, 1)), color-stop(100%, rgba(185, 211, 226, 1)));
  background: -webkit-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: -o-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: -ms-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: linear-gradient(to bottom, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8e2f2', endColorstr='#b9d3e2', GradientType=0);
}

.honey-comb {
  position: fixed;
  width: 10000PX;
  left: -10px;
  background: rgba(255, 255, 255, 0);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(83%, rgba(242, 252, 252, 1)), color-stop(90%, rgba(232, 254, 255, 1)), color-stop(100%, rgba(252, 254, 255, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  height:100%;
  z-index: -1;
}

.hex {
  float: left;
  margin-right: -10px;
  margin-bottom: -20px;
}

.hex-light {
  @extend .hex;
}

.hex-dark {
  @extend .hex;
}

.hex .left {
  float: left;
  width: 0;
  border-right: 15px solid #247EBC;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;

}

.hex-light .left {
  float: left;
  width: 0;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
  border-right: 15px solid #9BD7FF;
}

.hex-dark .left {
  float: left;
  width: 0;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
  border-right: 15px solid #144B71;
}

.hex .middle {
  float: left;
  width: 30px;
  height: 51.9px;
  background: #247EBC;
}

.hex-light .middle {
  float: left;
  width: 30px;
  height: 51.9px;
  background: #9BD7FF;
}

.hex-dark .middle {
  float: left;
  width: 30px;
  height: 51.9px;
  background: #144B71;
}

.hex .right {
  float: left;
  width: 0;
  border-left: 15px solid #247EBC;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
}

.hex-light .right {
  float: left;
  width: 0;
  border-left: 15px solid #9BD7FF;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
}

.hex-dark .right {
  float: left;
  width: 0;
  border-left: 15px solid #144B71;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
}

.hex-row {
  clear: left;
}

.hex-row-transparent {
  @extend .hex-row;
  visibility: hidden;
}

.hex-transparent {
  @extend .hex;
  visibility: hidden;
}

.hex.even {
  margin-top: 26px;
}

.hex-light .even {
  margin-top: 26px;
}

.hex-dark .even {
  margin-top: 26px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hex-animation {
  animation-name: fade-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-direction: alternate;
}

.hex-animation2 {
  animation-name: fade-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  -webkit-animation-delay: 5s;
  animation-direction: alternate;
}

.hex-animation3 {
  animation-name: fade-out;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-direction: alternate;
}

.event-card {
  height: 256px;
  -webkit-box-shadow: 0px 4px 0px 0px #9AB0BC;
  -moz-box-shadow: 0px 4px 0px 0px #9AB0BC;
  box-shadow: 0px 4px 0px 0px #9AB0BC;
  border-radius: 16px;
  background-color: white;
  opacity: 1;
  border: 2px solid #9AB0BC;
  margin-top:30px;
  padding: 0px;
}

.event-image{
  width:100%;
  height:100%;
  border-radius: 14px;
}

.sponsors{
  background-color: rgba(white,0.6);
  margin-top: 50px;
  z-index: 2;
}

.sponsor-image{
  margin-bottom: 30px;
}

.contact{

  background-color: #144B71;
}

.glyphicon{
  font-size: 20px;
}

.develop{
  color: #393939;
  text-align: center;
  padding: 5px;
}

.develop a {
  color: #144B71;
  font-style: bold;
  font-size: 20px;
}