.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.landing {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(83%, rgba(242, 252, 252, 1)), color-stop(90%, rgba(232, 254, 255, 1)), color-stop(100%, rgba(252, 254, 255, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(242, 252, 252, 1) 83%, rgba(232, 254, 255, 1) 90%, rgba(252, 254, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfeff', GradientType=1);

}

.events {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: tomato;
}

.college-name {
  text-align: center;
}

.register-button {

  border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;
  border: 0px solid #000000;
  -webkit-box-shadow: 3px 4px 21px 0px rgba(57, 57, 57, 0.37);
  -moz-box-shadow: 3px 4px 21px 0px rgba(57, 57, 57, 0.37);
  box-shadow: 3px 4px 21px 0px rgba(57, 57, 57, 0.37);
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  background: rgba(43, 114, 161, 1);
  background: -moz-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43, 114, 161, 1)), color-stop(48%, rgba(43, 114, 161, 1)), color-stop(49%, rgba(38, 100, 145, 1)), color-stop(100%, rgba(38, 100, 145, 1)));
  background: -webkit-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  background: -o-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  background: -ms-linear-gradient(top, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  background: linear-gradient(to bottom, rgba(43, 114, 161, 1) 0%, rgba(43, 114, 161, 1) 48%, rgba(38, 100, 145, 1) 49%, rgba(38, 100, 145, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b72a1', endColorstr='#266491', GradientType=0);
  height: 50px;
  outline: none;
}

.event-button {
  border-radius: 22px 22px 22px 22px;
  -moz-border-radius: 22px 22px 22px 22px;
  -webkit-border-radius: 22px 22px 22px 22px;
  border: 0px solid #000000;
  -webkit-box-shadow: 3px 4px 21px 0px rgba(57, 57, 57, 0.37);
  -moz-box-shadow: 3px 4px 21px 0px rgba(57, 57, 57, 0.37);
  box-shadow: 3px 4px 21px 0px rgba(57, 57, 57, 0.37);
  font-weight: normal;
  font-size: 20px;
  color: #2D709D;
  outline: none;
  height: 50px;
  background: rgba(200, 226, 242, 1);
  background: -moz-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(200, 226, 242, 1)), color-stop(48%, rgba(200, 226, 242, 1)), color-stop(49%, rgba(185, 211, 226, 1)), color-stop(100%, rgba(185, 211, 226, 1)));
  background: -webkit-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: -o-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: -ms-linear-gradient(top, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  background: linear-gradient(to bottom, rgba(200, 226, 242, 1) 0%, rgba(200, 226, 242, 1) 48%, rgba(185, 211, 226, 1) 49%, rgba(185, 211, 226, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8e2f2', endColorstr='#b9d3e2', GradientType=0);
}

.honey-comb {
  position: fixed;
  width: 10000PX;
  left: -10px;
}

.hex {
  float: left;
  margin-right: -10px;
  margin-bottom: -20px;
}

.hex-light {
  @extend .hex;
}

.hex-dark {
  @extend .hex;
}

.hex .left {
  float: left;
  width: 0;
  border-right: 15px solid #247EBC;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;

}

.hex-light .left {
  float: left;
  width: 0;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
  border-right: 15px solid #9BD7FF;
}

.hex-dark .left {
  float: left;
  width: 0;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
  border-right: 15px solid #144B71;
}

.hex .middle {
  float: left;
  width: 30px;
  height: 51.9px;
  background: #247EBC;
}

.hex-light .middle {
  float: left;
  width: 30px;
  height: 51.9px;
  background: #9BD7FF;
}

.hex-dark .middle {
  float: left;
  width: 30px;
  height: 51.9px;
  background: #144B71;
}

.hex .right {
  float: left;
  width: 0;
  border-left: 15px solid #247EBC;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
}

.hex-light .right {
  float: left;
  width: 0;
  border-left: 15px solid #9BD7FF;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
}

.hex-dark .right {
  float: left;
  width: 0;
  border-left: 15px solid #144B71;
  border-top: 25.95px solid transparent;
  border-bottom: 25.95px solid transparent;
}

.hex-row {
  clear: left;
}

.hex-row-transparent {
  @extend .hex-row;
  visibility: hidden;
}

.hex-transparent {
  @extend .hex;
  visibility: hidden;
}

.hex.even {
  margin-top: 26px;
}

.hex-light .even {
  margin-top: 26px;
}

.hex-dark .even {
  margin-top: 26px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hex-animation {
  animation-name: fade-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-direction: alternate;
}

.hex-animation2 {
  animation-name: fade-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-direction: alternate;
}

.hex-animation3{
  animation-name: fade-out;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-direction: alternate;
}

